body {
    font-family: bebas;
    text-align: center;
    background-color: #151414;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    color: whitesmoke;
}

h1 {
    font-size: 3em;
    color: var(--primary-1);
}
.main-nav {
    width: 80%;
    margin: auto;
    padding: 0.6em;
}

.main-nav ul {
    padding: 0;
}

.main-nav button {

    border: none;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;

    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.15em;

    color: whitesmoke;
    background-color: var(--primary-1);
    padding: 0.5em 2em;
    border-radius: 0.3em;

}

.main-nav button:hover {
    opacity: 0.8;
    transition: 0.4s;
}

.editor {
    display: flex;

    margin: auto;
    width: 60%;

}

.canvas-container {
    width: auto;
    background-color: rgba(176, 196, 222, 0);
    margin: 10px auto;
}

canvas {
    display: block;
    background-color: white;
}