.editor {
    width: 60%;
}

.editor main {    
    width: 50%;

}

.editor-inputs > * {
    margin: 10px 0;
}

main .text-input {
    width: 60%;
}

.action-btns .btn {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    color: whitesmoke;
    transition: 0.4s;
}

.action-btns .btn:hover {
    color:  var(--primary-1);
}

.action-btns label {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.action-btns {
    width: 100%;
    padding: 1em;
}

.line-actions-container p {
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: 600;
}

.line-actions > * {
    outline: 1px whitesmoke solid;
    color: whitesmoke;

    padding: 0.5em;
    margin: 0.5em;

    font-family: "Bebas Neue", sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;

    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.line-actions > *:hover {
    transition: 0.4s;
    color:  var(--primary-1);
    outline-color: var(--primary-1);
}

.size-button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: whitesmoke;


    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.size-button:hover {
    transition: 0.2s;
    color:  var(--primary-1);
    outline-color: var(--primary-1);
}

.size-button span {
    font-size: 1.3em;
    font-weight: 600;
}