.editor {
    width: 75%;
    margin: auto;
}

.editor h2 {
    margin: .3em;
}

.editor main {    
    width: 60%;
}

.editor-inputs > * {
    margin: 10px 0;
}

main .text-input {
    width: 60%;
}

.action-btns button {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;

    margin: 0;
    padding: 0;

    letter-spacing: 0.1em;
    transition: 0.4s;
    color: whitesmoke;

    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.action-btns label {
    cursor: pointer;
}

.action-btns > * {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    color: whitesmoke;
    transition: 0.4s;
}

.action-btns >*:hover {
    color:  var(--primary-1);
}

input[type="file"] {
    display: none;
}

.action-btns {
    width: 100%;
    padding: 1em;
}

.line-actions > * {
    outline: 1px whitesmoke solid;
    color: whitesmoke;
    
    padding: 0.5em;
    margin: 0.3em;

    font-family: "Bebas Neue", sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.line-actions > *:hover {
    transition: 0.4s;
    color:  var(--primary-1);
    outline-color: var(--primary-1);
}

.size-button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;

    margin: 0 .3em;

    color: whitesmoke;
    outline: 1px whitesmoke solid;
    
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.size-button:hover {
    transition: 0.3s;
    color:  var(--primary-1);
    outline-color: var(--primary-1);
}