.gallery {
    width: 80%;
    columns: auto;
    margin: auto;
    padding: 1em;
}

.gallery img {
    height: 250px;
    width: 250px;
    
    margin: auto;
    padding: 10px;
    border-radius: 15px;

    cursor: pointer;
}

.gallery img:hover {
    scale: 1.1;
    transition: 0.5s;
}